<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.antoineviau.kraken" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kraken</name>
  <description>
        Kraken for Android
    </description>
  <author email="antoine.viau@gmail.com" href="http://www.antoineviau.com/">
      Antoine Viau
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature> 
  <icon src="res/icon.png" />
  
</widget>